# Python bytecode:
*.py[co]

# Packaging files:
*.egg*
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Editor temp files:
.idea
*.swp
*~
*.DS_Store

# Sphinx docs:
build

# SQLite3 database files:
*.db
# DB Dump files
*.dump

# Logs:
*.log

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
